.subscribe {
    padding: 4rem 2rem;
    text-align: center;
    color: orange;
  }
  
  .subscribe h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .pricingPlans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
  }
  .pricingPlan:hover{
    background-color: orange;
  }
  
  .pricingPlan {
    background-color: gray;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
  }
  
  .pricingPlan h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .pricingPlan ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .pricingPlan li {
    margin-bottom: 0.5rem;
  }
  
  .ctaButton {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: #e14c50;
  }
